---
import ContentMedia from '../components/ContentMedia.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Abadia Neves Bereta">
    <ContentMedia imgSrc="/logo-deusa-da-justica.jpeg" reverseImg={true}>
      <h1>Abadia Neves Bereta</h1>
      <h2>Advogada Criminalista</h2>
      <p class="text-2xl">Rua Floriano Peixoto, 2079 - Centro</p>
      <p class="text-2xl">Franca - SP</p>
      <a class="button" href="cel:16992818910" >Contato 🚀 : 16 99281-8910</a>
    </ContentMedia>  
</DefaultLayout>
