---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Desenvolvido por <a href="https://johnnyvaz.com.br/">Johnny Vaz</a>
      </p>
    </div>
  </section>
</footer>
